{% extends "layout.html" %}
{% block content %}
	<h2>A Summarizer for Research Papers!</h2>

	<br>

	<p>
		Are you a college student, graduate student, or a staff <br>
		member student cold-emailing professors, <br>
		struggling to get the gist of their research papers <br>
		so you can walk into their office hours, confidently discuss <br>
		their research with them, and ask for a research opportunity?
	</p>

	<br>

	<p>Ever wondered how you're going to summarize that <br> 
		20-page research paper in just a paragraph? 
	</p>

	<br>

	<p>
		Don't fret! On this site, all you'll 
		need to do is click on the <br> "Summarize" tab 
		on the top of the page, and then enter the website <br>
		of the paper into the box that says "HTML page", <br>
		enter in how many words you want the summary to be <br>
		in the box labeled "Word Count", and this site will 
		do the heavy-lifting for you! <br> This website will also 
		produce a list of important keywords <br> to look out for in 
		the article!
	</p>

	<br>

	<p>
		For now, this site only accepts full-length papers <br>
		that are available as HTML format on a publication site, <br>
		or Google Scholars.
	</p>
{% endblock content %}
